/* font-family: 'Londrina Outline', cursive;
font-family: 'Orbitron', sans-serif; */
body{
    background-color:#000;
}

.fecha{
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 10px;
}
.hora{
    font-family: 'Londrina Outline', cursive;
    font-size: 90px;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 20px;
}
.green {
    text-shadow: 
        0 0 5px #39ff14,
        0 0 10px #39ff14,
        0 0 20px #39ff14,
        0 0 40px #39ff14,
        0 0 80px #39ff14,
        0 0 90px #39ff14,
        0 0 100px #39ff14,
        0 0 150px #39ff14;
}